body {
    font-family: Helvetica, Verdana, Arial, sans-serif;;
}

h1 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.rules {
    border: 1px solid;
    margin-right: 30%;
    margin-top: 5%;
    padding-left: 3%;
}

.cell {
    outline: 1px solid darkslategray;
    float: left;
}

.miss {
    background-color: white;
}

.p1 {
    background-color: gray;
}

.p2 {
    background-color: darkslategray;
}

.forecastle {
    background-color: green;
}

.hit {
    background-color: red;
}

.empty {
    background-color: blue;
}

.invisible {
    background-color: black;
}

#map_panel {
    width: 60%;
    float: left;
}

#map_view {
    width: 70%;
    margin: 0 auto;
}

#cli_panel {
    width: 40%;
    height: 800px;
    float: right;
    position: relative;
}

#p1_cli_panel {
    height: 800px;
    position: relative;
}

#p1_cli_input {
    width: 100%;
}

#p1_cli_output {
    position: relative;
    height: 80%;
    overflow: auto;
}
